@model LibraryManagement.Models.Wydawca

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Wydawcę</h2>

<h3>Czy na pewno chcesz usunąć tą pozycje?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do Listy", "Index")
        </div>
    }
</div>
